<br>
<h1>All Artists</h1>

<tbody>
<% @artists.each do |artist| %>
  <tr>
    <td><%= artist.name %></td>
    <br>
    <% if can? :edit, Artist %>
    <td><%= link_to("Edit", edit_artist_path(artist.id)) %></td>
    <% end %>
    <br>
    <% if can? :delete, Artist %>
    <td><%= link_to("Delete", artist_path(artist.id), method: :delete, data: {confirm: "Are you sure?"})%></td>
    <% end %>
  </tr>
<% end %>
</tbody>