<br>
<h1>All Billboards</h1>

<% @billboards.each do |billboard| %>
  <p>
  <%= billboard.title %>
    -
    <%= link_to("edit", edit_billboard_path(billboard.id)) %>
    -
    <%= link_to("delete", billboard_path(billboard.id), method: :delete, data: {confirm: "Are you sure??"})%>
  </p>
<% end %>
